{% extends '::base.html.twig' %}
{% block title %}{{categoria}}{% endblock%}
{% block body -%}
<div class="hero-unit">
    <div class="hero-unit">
        <table>
            <tr>
                <td rowspan="2"><img name="{{categoria}}" src="{{ asset('img/'~categoria.imagen) }}" ></td>
                <td><h3 style="margin-left: 8px;">{{categoria}}<small> ({{escritos | length }} Escritos)</small></h3></td>
            </tr>
            <tr>
                <td><p style="margin-left: 8px;">{{categoria.descripcion}}</p></td>
            </tr>
        </table>     
    </div>
    {% for escrito in escritos %}
        {{ render(controller('HffBlogBundle:Escritos:preview1', {'id': escrito.id })) }}
    {% endfor %}
</div>
{% endblock %}
