{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Citas</h1>


    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cita</th>
                <th>Autor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('citas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.texto }}</td>
                <td>{{ entity.autor }}</td>
                {#<td>{{ entity.autor.id }}</td>#}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('citas_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('citas_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('citas_new') }}">
                Ingresar una nueva cita
            </a>
        </li>
    </ul>
    {% endblock %}
