{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ingresar nueva Cita</h1>

    <form action="{{ path('citas_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <a href="{{ path('autores_new') }}">
                Ingresar un nuevo autor
        </a>
        <p>
            <button type="submit">Ingresar Cita</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('citas') }}">
            Volver a la lista de citas
        </a>
    </li>
</ul>
{% endblock %}
