{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Usuarios</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Nombrereal</th>
                <th>Bloqueado</th>
                <th>Email</th>
                <th>Enviarmail</th>
                <th>Fecharegistro</th>
                <th>Ultimavisita</th>
                <th>Ultimaip</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_ver', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.nombreReal }}</td>
                <td>{{ entity.bloqueado }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.enviarMail }}</td>
                <td>{% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.ultimaVisita %}{{ entity.ultimaVisita|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.ultimaIp }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_ver', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_editar', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usuario_nuevo') }}">
                Crear un nuevo usuario
            </a>
        </li>
    </ul>
    {% endblock %}
