{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuarios</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Nombrereal</th>
                <td>{{ entity.nombreReal }}</td>
            </tr>
            <tr>
                <th>Bloqueado</th>
                <td>{{ entity.bloqueado }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Enviarmail</th>
                <td>{{ entity.enviarMail }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ultimavisita</th>
                <td>{{ entity.ultimaVisita|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ultimaip</th>
                <td>{{ entity.ultimaIp }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuario_editar', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('usuario_borrar', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
