{% extends '::base.html.twig' %}
{% block title %}{{ entity.usuario | capitalize }}{% endblock %}
{% block body -%}
<div class="hero-unit">
    <table>
        <tr >
            <td class="span2" rowspan="2"><img class="avatar3" title="" src="{{ asset('img/usuario.png') }}" ></td>
            <td><h3>{{ entity.usuario | capitalize }}  <small>({{ entity.nombreReal }})</small></h3></td>
        </tr>
        <tr>
            <td style="font-size: 90%">Se de donde vengo, se donde voy 
                Por eso se donde estoy, no me avergüenza lo que soy 
                Se cual es mi lugar y adonde pertenezco 
                Lo que no me corresponde y lo que merezco 
                Soy sangre de mi sangre y soy mi costumbre 
                Mis hábitos y códigos y mis incertidumbres 
                Soy mis decisiones y mis elecciones 
                Soy mis acciones, solo y en la muchedumbre 
            </td>    
        </tr>
    </table>


    <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab"><b><i class="icon-user"></i> Información</b></a></li>
        <li><a href="#Muro" data-toggle="tab"><b><i class="icon-list-alt"></i> Muro</b></a></li>
        <li><a href="#Escritos" data-toggle="tab"><b><i class="icon-book"></i> Escritos</b></a></li>
        <li><a href="#Comentarios" data-toggle="tab"><b><i class="icon-comment"></i> Comentarios</b></a></li>
    </ul>
    <div class="tabbable">
        <div class="tab-content border">
            <div class="tab-pane active" id="A">
                <table >
                    <tbody>
                        <tr>
                            <th>Nombre: </th>
                            <td>{{ entity.nombreReal }}</td>
                        </tr>
                        <tr>
                            <th>Email: </th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th>Fecha Registro: </th>
                            <td>{{ entity.fechaRegistro|date('d-m-Y') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {# Muro #}
            <div class="tab-pane" id="Muro">
                <textarea class="ckeditor"></textarea>


            </div>
            <div class="tab-pane" id="Escritos">
                {% for escrito in escritos if escrito.publicado %}
{{ render(controller('HffBlogBundle:Escritos:preview1', {'id': escrito.id } )  ) }}
{% endfor %}
                </div>
                <div class="tab-pane" id="Comentarios">
                {% for comentario in comentarios %} 
                    {{ render(controller('HffBlogBundle:Comentarios:resumen', {'id': comentario.id } )  ) }}
                {% endfor %}



                    </div>
                </div> <!-- /tabbable -->
            </div>
        </div>




{% endblock %}
