{% extends '::base.html.twig' %}

{% block body -%}
<p>Publicado el {{ entity.fechaCreacion | date('l, d-M-Y', 'America/Santiago') }} a las {{ entity.fechaCreacion | date('G:i') }}</p>
<h1>{{ entity.titulo }}</h1>
<p>Escrito por <a href="/usuario/ver/{{entity.usuario.id}}">{{ entity.usuario }}</a><p>
<article>{{ entity.intro | raw }}</article>
<article>{{ entity.contenido | raw }}</article>
<p>Categoría: {{entity.categoria}} </p>


{% endblock %}
