{% extends '::base.html.twig' %}

{% block title %}Contacto{% endblock%}

{% block body %}
<header>
    <h3>Contacto Homefanfics</h3>
</header>

<p>¿Quiere contactárnos?</p>

        <form action="{{ path('contacto') }}" method="post" {{ form_enctype(form) }} class="blogger">

            {{ form_errors(form) }}
            <table>
                <tr><td>{{form_label(form.nombre)}}</td><td>{{ form_widget(form.nombre) }}</td></tr>
                <tr><td>{{form_label(form.email)}}</td><td>{{ form_widget(form.email) }}</td></tr>
                <tr><td>{{form_label(form.asunto)}}</td><td>{{ form_widget(form.asunto) }}</td></tr>
                <tr><td>{{form_label(form.mensaje)}}</td><td>{{ form_widget(form.mensaje) }}</td></tr>
                <tr><td></td><td> <button type="submit" class="btn btn-success"><i class="icon-envelope icon-white"></i> Enviar Mensaje</button> 
</td></tr>
            </table>
        {{ form_rest(form) }}

           
        </form>
{% endblock %}
