{% extends '::base.html.twig' %}

{% block body -%}
<h3>Ingresar nuevo Comentario</h3>

<form action="{{ path('comentario_crear') }}" method="post" {{ form_enctype(form) }}>

    <table>
        <tr>
            <td>{{ form_widget(form.mensaje)}} {{ form_errors(form.mensaje) }}</td>          
        </tr>
                {{ form_rest(form) }}
        <tr>
            <td><button class="btn btn-success"type="submit">Ingresar Comentario</button></td>
        </tr>
    </table> 
</form>
{% endblock %}

