
<table class="table-bordered table-hover input-block-level">
    <tr>
        <td><small>En</small> <a style="font-size: 85%" href="{{path('escrito_ver', {'id': escrito.id })}}"> {{escrito.titulo}} </a> <small>el {{ comentario.fechaCreacion | date('d-m-Y', 'America/Santiago') }} a las {{ comentario.fechaCreacion | date('G:i') }} </small></td>
    </tr>
    <tr >
        <td><p>{{ comentario.mensaje|raw }}</p></td>
    </tr>  
</table>

