
{% for otroComentario in otrosComentarios %}
<table class="table-bordered table-hover input-block-level">
    <tr>
            
     
        <td>
            <small><a style="font-size: 85%" href="{{path('usuario_ver', {'id': otroComentario.usuario.id })}}">
            <img class="avatar" title="{{otroComentario.usuario.usuario}}" src="{{ asset('img/usuarios/'~ otroComentario.usuario.imagen) }}" >{{otroComentario.usuario.usuario | capitalize}} </a>
            comentó el {{ otroComentario.fechaCreacion | date('d-m-Y', 'America/Santiago') }} a las {{ otroComentario.fechaCreacion | date('G:i') }} </small>
        </td>
    </tr>
    <tr >
        <td><p>{{ otroComentario.mensaje|raw }}</p></td>
    </tr>  
</table>
{% endfor %}

