{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Autor</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('citas_new') }}">
                Ingresar una nueva cita
        </a>
    </li>
    <li>
        <a href="{{ path('autores') }}">
            Volver a la lista de autores
        </a>
    </li>
    <li>
        <a href="{{ path('autores_new') }}">
                Ingresar un nuevo autor
            </a>
    </li>
    <li>
        <a href="{{ path('autores_edit', { 'id': entity.id }) }}">
            Editar nombre
        </a>
    </li>
    <li>
        <form action="{{ path('autores_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar autor</button>
        </form>
    </li>
</ul>
{% endblock %}
